@model TefteriLoginTest.Models.FriendModel


@using TefteriLoginTest.Models;

@{
    ViewBag.Title = "CreateGroup";
}

<h2>Create Group</h2>

<ul>
    @for (int i = 0; i < Model.Friends.Count; i++)
    {
        <li>
            @Html.CheckBox("isChecked", false)
            <label>@Model.Friends[i].Name</label>
            @Html.HiddenFor(m => m.Friends[i].ID)
        </li>
    }
    
</ul>
