@model IEnumerable<TefteriLoginTest.Models.Friend>


@using TefteriLoginTest.Models;

<div class="starter-template">
    <h1>Friends</h1>
    <p class="lead">

        <div>
            <ul>

                @foreach (Friend friend in Model)
            {
                <li>
                    @Html.ActionLink(friend.Name, "FriendDetail", new { ID = friend.ID })
                </li>
        }

            </ul>
        </div>
        @Html.ActionLink("Back to Dashboard", "Dashboard","Account", null, new { @class = "btn btn-default" })
    </p>
</div>



