
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<ul>
    
    <li>@Html.ActionLink("Friends","Friends","Friend")</li>
        <li>@Html.ActionLink("Create Group", "CreateGroup", "Group")</li>
        <li>Edit Group</li>
        <li>Settings</li>

</ul>

