
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<ul>
    <li>
        
        @Html.ActionLink("Friends","Friends","Friend")
        <h1>@Html.ActionLink("Create Group", "CreateGroup", "Group")</h1>
        <h2>Edit Group </h2>
        <h3>Settings</h3>



    </li>

</ul>

